@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 200px 50px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to right top, #274b74, #214d89, #284d9c, #3c4bad, #5845ba, #6e44c4, #8542cc, #9c3ed3, #af47de, #c250e8, #d659f3, #e963fd);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;    
}

.contact-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form-card {
    border: 2px solid white;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.10);
}

.card-left {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 0 150px;
    border-right: 2px solid white;
}

.back-btn {
    border-radius: 25px;
    padding: 15px;
    width: 250px;
    font-weight: 900;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.back-btn:hover {
    background-color: #5037cb;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.10);
    transition: 0.5s ease-in;
}

.card-right {
    padding: 0 50px;
}

.card-header {
    padding: 25px;
    border-bottom: 2px solid white;
    text-align: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding: 50px 0;
}

.card-input-field {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    width: 350px;
    position: relative;
    padding: 2px;
}

.card-input-field label {
    padding-left: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    translate: 0.625rem 0.625rem;
    padding-inline: 0.25rem;
    border: 1px solid transparent;
    pointer-events: none;
    transition: translate 250ms, background-color 250ms, border-color 250ms;
}

.card-input-field:focus-within label,
.card-input-field:not(:has(:placeholder-shown)) label {
    translate: 0.625rem -1.8rem;
    background-color: #5845ba;
    border-color: #fff;
    padding: 8px;
    border-radius: 5px;
}

.card-input-field ::placeholder {
    color: transparent;
}

.card-input-field input {
    padding: 10px 8px;
    font-weight: 400;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    background-color: transparent;
    border: 1px solid white;
}

.card-input-field textarea {
    padding: 10px 8px;
    font-weight: 400;
    border-radius: 4px;
    font-size: 20px;
    color: #fff;
    background-color: transparent;
    border: 1px solid white;
}

.submit-btn {
    border-radius: 25px;
    padding: 15px;
    width: 250px;
    font-weight: 900;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #5037cb;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.10);
    transition: 0.5s ease-in;
}

.card-footer {
    padding: 25px;
    border-top: 2px solid white;
    text-align: center;
}