:root {
    --color-github: #171515;
    --color-twitter: #000000;
    --color-instagram: #ef5a92;
    --color-facebook: #3b5a9b;
}

body {
    height: 100vh;
    background-color: #fafafa;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 20px;
    height: 100vh;
}

.social-icon,
.tooltip {
    display: block;
}

.social-icon {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 0.2rem;
    border-radius: 50%;
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 2.5rem;
    text-decoration: none;
    transition: all 0.15s ease;
}

.social-icon:hover {
    color: #fff;
}

.social-icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -150%);
}

.social-icon:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}

.social-icon--twitter {
        background: var(--color-twitter);
        color: #fff;
}

.social-icon--twitter:hover {
        background: var(--color-twitter);
        color: #fff;
}

.social-icon--facebook {
    background: var(--color-facebook);
    color: #fff;
}

.social-icon--instagram {
    background: var(--color-instagram);
    color: #fff;
}

.social-icon--github {
    background: var(--color-github);
    color: #fff;
}

.social-icon svg {
    position: relative;
    bottom: 4px;
    left: 8px;
}

.tooltip {
    position: absolute;
    background-color: #5a5a5a;
    color: #000000;
    top: 30%;
    left: 50%;
    padding: 0.8rem 1rem;
    border-radius: 40px;
    font-size: 0.8rem;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    text-transform: uppercase;
    transform: translate(-50%, -100%);
    transition: all 0.3s ease;
    z-index: 1;
    background: #e0e0e0;
    box-shadow: inset 2px 2px 4px #cacaca,
                inset -2px -2px 4px #ffffff;
}

.tooltip:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 1px;
    left: 50%;
    width: 0;
    height: 0;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
}