:root {
    --clr-neutral-900: hsl(207,19%,9%);
    --clr-neutral-100: hsl(0,0%,100%);
    --clr-accent-400: hsl(142, 90%, 61%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    line-height: 1.6;
    background: var(--clr-neutral-900);
    font-family: sans-serif;
    padding-right: 15em;
}

.card {
    color: var(--clr-neutral-100);
    background-image: url(../images/card-image.jpg);
    background-size: cover;
    padding: 8rem 0 0;
    max-width: 45ch;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 500ms ease;
}

.card-content {
    --padding: 1.5em;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(20 0% 0% / 0.3) 20%,
        hsl(0 0% 0% / 1)
    );
    transform: translateY(63%);
    transition: transform 500ms ease;
}

.card:hover .card-content,
.card:focus-within .card-content {
    transform: translateY(0);
    transition-delay: 300ms;
}

.card:focus-within .card-content {
    transition-duration: 0ms;
}

.card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
}

.card:hover .card-content > *:not(.card-title),
.card:focus-within .card-content > *:not(.card-title) {
    opacity: 1;
    transition-delay: 500ms;
}

.card-title {
    position: relative;
    width: max-content;
}

.card-title::after {
    content: "";
    position: absolute;
    height: 4px;
    background: var(--clr-accent-400);
    width: calc(100% + var(--padding));
    left: calc(var(--padding) * -0.68);
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
    transform: scaleX(1);
}

.card-body {
    font-weight: lighter;
    color: var(--clr-neutral-100) / 0.60;
}

.button {
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background: var(--clr-accent-400);
    padding: 0.4em 1.5em;
    border-radius: 0.25em;
    font-weight: 600;
    color: var(--clr-neutral-100);
}

.button:hover,
.button:focus {
    background-color: var(--clr-neutral-100);
    color: var(--clr-neutral-900);
}