@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

:root {
    --color-github: #171515;
    --color-twitter: #000000;
    --color-instagram: #ef5a92;
    --color-facebook: #3b5a9b;
  }

* {
    font-family: 'Montserrat', serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0e0e0;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    justify-content: center;
    width: 550px;
    padding: 50px 0;
    border-radius: 50px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
}

.form-header {
    text-align: center;
}

.form-input {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-input input {
    border-radius: 5px;
    width: 300px;
    height: 30px;
    padding: 5px;
    padding-left: 15px;
    background: #e0e0e0;
    color: #565656;
    box-shadow: inset 5px 5px 7px #848484,
                inset -5px -5px 7px #ffffff;
    border: none;
}

.form-input input:focus {
    outline: none;
    border-inline: 2px solid white;
}

.form-input label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    translate: 0.625rem 0.625rem;
    color: #aeaeae;
    padding-inline: 0.25rem;
    border: 2px solid transparent;
    pointer-events: none;
    transition: translate 250ms, background-color 250ms, border-color 250ms;
}

.form-input:focus-within label,
.form-input:not(:has(:placeholder-shown)) label {
    translate: 0.025rem -1.5rem;
    color: #030104;
    font-weight: 600;
}

.buttons {
    display: flex;
    gap: 15px;
}

.btn {
    cursor: pointer;
    font-weight: 600;
    width: 150px;
    border: none;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  5px 5px 7px #848484,
                -5px -5px 7px #ffffff;
}

.btn:hover {
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  5px 5px 10px #5a5a5a,
                 -5px -5px 10px #ffffff;
    font-weight: 700;
}

.separator {
    display: flex;
    align-items: center;
    margin: 20px 0; 
    padding: 0 50px;
    gap: 10px;
}

.separator-line {
    flex: 1;
    height: 2px;
    width: 200px;
    background-color: #cacaca; 
    background: #e0e0e0;
    box-shadow: inset 2px 2px 4px #cacaca,
                inset -2px -2px 4px #ffffff;
}

.separator-dot {
    width: 10px;
    height: 10px;
    background-color: #5a5a5a; 
    border-radius: 50%;
    margin: 0 10px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  29px 29px 65px #5a5a5a,
                -29px -29px 65px #ffffff;
}

.form-footer {
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.social-icon,
.tooltip {
    display: block;
}

.social-icon {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 0.2rem;
    border-radius: 50%;
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 2.5rem;
    text-decoration: none;
    transition: all 0.15s ease;
}

.social-icon:hover {
    color: #fff;
}

.social-icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -150%);
}

.social-icon:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}

.social-icon--twitter {
        background: var(--color-twitter);
        color: #fff;
}

.social-icon--twitter:hover {
        background: var(--color-twitter);
        color: #fff;
}

.social-icon--facebook {
    background: var(--color-facebook);
    color: #fff;
}

.social-icon--instagram {
    background: var(--color-instagram);
    color: #fff;
}

.social-icon--github {
    background: var(--color-github);
    color: #fff;
}

.social-icon svg {
    position: relative;
    bottom: 4px;
}

.tooltip {
    position: absolute;
    background-color: #5a5a5a;
    color: #000000;
    top: 40%;
    left: 50%;
    padding: 0.8rem 1rem;
    border-radius: 40px;
    font-size: 0.8rem;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    text-transform: uppercase;
    transform: translate(-50%, -100%);
    transition: all 0.3s ease;
    z-index: 1;
    background: #e0e0e0;
    box-shadow: inset 2px 2px 4px #cacaca,
                inset -2px -2px 4px #ffffff;
}

.tooltip:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 1px;
    left: 50%;
    width: 0;
    height: 0;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
}